* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #052d44;
  color: #f8f9fa;
  overflow: hidden;
}

.gate-banner {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
  background-color: #052d44; /* Use a solid color background instead of gradient */
}

/* Shared gradient on both gates */
.left-gate, .right-gate {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, #770737, #052d44);
  background-size: 200% 100%;
  transition: transform 1s ease-in-out;
  z-index: 2;
}

/* Left gate shows left side of the gradient */
.left-gate {
  left: 0;
  background-position: left;
}

/* Right gate shows right side of the gradient */
.right-gate {
  right: 0;
  background-position: right;
}

/* Gate opening animation */
.gate-banner.open .left-gate {
  transform: translateX(-100%);
}

.gate-banner.open .right-gate {
  transform: translateX(100%);
}

.gate-content {
  position: relative;
  z-index: 3;
}

.gate-content.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

#openBtn {
  border: 1px solid goldenrod;
  color: goldenrod;
}

.about-section {
  position: relative;
  text-align: center;
  height: 100vh; /* Full height of the viewport */
  padding: 5rem; /* Adjust padding as necessary */
  background: linear-gradient(45deg, #770737, #052d44);
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.image-container img {
  max-width: 150px; /* Adjust image size */
  margin: 1rem;
  border-radius: 10px; /* Optional: add border radius to images */
}

/* Positioning the H1 in a semi-circle above the images */
.content {
  position: relative;
  z-index: 2;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.content h3 {
  font-size: 1.5rem;
}